<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veni Vidi Vici</title>

    <link rel="stylesheet" href="~/Content/Style.css">
    <link rel="stylesheet" href="~/Content/MainStyle.css">
    <link rel="stylesheet" href="~/Content/AboutStyle.css">
    <link rel="stylesheet" href="~/Content/City1.css">
    <link rel="stylesheet" href="~/Content/contact.css">
    <link rel="stylesheet" href="~/Content/City2.css">
 
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/compass" href="~/Content/images/compass.jpg" />
    <style>

        li:hover .sub_menu {
            display: block;
        }
    </style>
</head>

<body>
    <!-- /*üst çubuk başlangıç */ -->
    <header class="container">
        <nav class="üstfooter" style="display: flex;">
            <div class="venividivici" style="margin-right : 8%" >
                <a href="@Url.Action("Index","Home")"><i class="fa-regular fa-compass"></i> VeniVidiVici</a>
            </div>
            <div class="menu">
                <ul class="subvenividi" style="column-gap:50px;">
                    <li><a href="@Url.Action("Index","Home")"><i class="fa-solid fa-house"></i> Home</a></li>
                    <li><a href="@Url.Action("About","Home")"><i class="fa-regular fa-address-card"></i> AboutUs</a></li>
                    <li style="color: rgb(65,76,181); font-family: 'Agbalumo';">
                        <a href="#"><i class="fa-solid fa-city"></i> Cities</a>
                        <div class="sub_menu" style="">
                            <ul>
                                <li><a href="@Url.Action("Rome","Home")">Rome</a></li>
                                <li><a href="@Url.Action("Milan","Home")">Milan</a></li>
                                <li><a href="@Url.Action("Verona","Home")">Verona</a></li>
                                <li><a href="@Url.Action("Venice","Home")">Venice</a></li>
                                <li><a href="@Url.Action("Florence","Home")">Florence</a></li>
                                <li><a href="@Url.Action("Amalfi","Home")">Amalfi </a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="@Url.Action("Tour_List","Home")"><i class="fa-solid fa-plane-departure"></i> Tours</a></li>
                    <li><a href="@Url.Action("TravelPhotos","Home")"><i class="fa-regular fa-image"></i>Photos</a></li>
                    <li><a href="@Url.Action("Contact","Home")"><i class="fa-regular fa-address-book"></i> ContactUs</a></li>
                    @if (User.Identity.IsAuthenticated)
                     {
                           <li><a href="@Url.Action("Signout","Account")"><i class="fa-regular fa-user"></i> SignOut</a></li>
                     }
                    else
                     {
                            <li><a href="@Url.Action("Login","Home")"><i class="fa-regular fa-user"></i> SignIn/SignUp</a></li>
                      }
                    

                </ul>
            </div>
        </nav>

    </header>
    <!-- /*üst çubuk son */ -->

    @RenderBody()

    <!-- alt çubuk başlangıç -->
    <footer>
        <div class="footer">
            <div class="first-footer">
                <h3 class="aboutUs">
                    About Us
                </h3>
                <br>
                <p class="about">
                    As Veni Vidi Vici tour, we designed our platform to open the doors of unforgettable holidays. We
                    offer
                    our customers the opportunity to have unforgettable experiences in unique destinations around the
                    world.
                    <a href="@Url.Action("About","Home")">Continue...</a>
                </p>
            </div>

            <div class="second-footer">
                <h3 class="links">Links</h3>
                <br>
                <ul class="linkUl">
                    <li><a href="@Url.Action("Index","Home")" style=" text-decoration: none; "> Home</a></li>
                    <li><a href="@Url.Action("Tour_List","Home")" style=" text-decoration: none; "> Tours</a></li>
                    <li><a href="@Url.Action("TravelPhotos","Home")" style=" text-decoration: none; "> Travel Photos</a></li>

                </ul>
            </div>

            <div class="third-footer">
                <h3 class="contact">Contact</h3>
                <br>
                <p style="color: rgb(65,76,181);">
                    <i style="color: rgb(65,76,181);" class="fa-solid fa-envelope"></i>
                    VeniVidiVici@gmail.com
                </p>
                <br>
                <p style="color: rgb(65,76,181);">
                    <i style="color: rgb(65,76,181);" class="fa-solid fa-phone"></i> +385 91 5945 108
                </p>
                <br>
                <p style="color: rgb(65,76,181);">
                    <i style="color: rgb(65,76,181);"
                       class="fa-solid fa-address-book"></i>
                    via di Monte Fiore 15, Rome , Italy 00153.
            </div>

        </div>
        <!-- alt çubuk son -->
    </footer>
</body>

</html>

