@model IEnumerable<TourismTravelAdministration.Models.Tour>

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TourName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TourName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
